<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
			<link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">

			{% include analytics.html %}
		</head>
		<body>
			<div class="wrapper">
	      <header>
	        <h1>Minimal</h1>
	        <p>A Theme for GitHub Pages</p>
	        <p class="view"><a href="http://github.com/orderedlist/minimal">View the Project on GitHub <small>orderedlist/minimal</small></a></p>
	        <ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/blog">Blog</a></li>

	        </ul>
	      </header>
			<section>
			<div class="container">
				{{ content }}

			</div><!-- /.container -->
		</section>
			<footer>
	    		<ul>
	        		<li><a href="maciek.anuszkiewicz@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
