<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
			<link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">
			{% include analytics.html %}
		</head>
		<body>
			<div class="wrapper">
	      <header>
	        <ul>
						<li><a href="/">exGarage</a></li>
						<!--<li><a href="/about/">About</a></li>-->
	        </ul>
	      </header>
			<section>
			<div class="container">
				{{ content }}
			</div><!-- /.container -->
		</section>
			<footer>

			</footer>
		</body>
	</html>
